.passenger-page {
  background: linear-gradient(0deg, rgba(237, 237, 237, 1) 100%, rgba(168, 168, 168, 1) 0%);
}


.passenger-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 70vh;
	padding: 3rem;
}

.passenger-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  align-items: center;
	width: 100%;
	height: auto;
	padding: 0.5rem 6rem 0.5rem 3.5rem;
}

.profile-pic {
	width: 100px;
	height: 100px;
	object-fit: cover;
	background-color: aliceblue;
	border-radius: 10px;
}

.passenger-inputs {
	display: flex;
	flex-direction: column;
	background-color: black;
	color: #f0f0f0;
	border-radius: 10px;
	height: fit-content;
	padding: 1rem;
}

.input-group {
	display: flex;
	flex-direction: column;
}

.passenger-label {
	font-size: 1rem;
	margin-bottom: 0.25rem;
}

.passenger-input {
	width: 300px;
	padding: 8px;
	margin-bottom: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 8px;
}

.submit-button {
	padding: 10px;
	background-color: #f7c621;
	color: #fff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
  margin-top: 1rem;
}

.submit-button:hover {
	background-color: #ae8b18;
}
