.main-cards {
  gap: 20px;
  margin: 15px 0;
  flex: 1;
}

.card {
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  flex: 1;
  height: 130px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-items {
  align-items: center;
  justify-content: space-between;
}

.card_icon {
  font-size: 25px;
}
