.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e1f3fd;
}

.left-part {
	color: black;
	background-color: #f7c621;
	width: 50%;
	border-radius: 0px 0px 70px 0px;
	height: 75px;
	display: flex;
	align-items: center;
	font-size: 2rem;
	font-weight: 600;
	padding-left: 2.5rem;
}

.right-part {
	padding-right: 2.5rem;
}

.nav-list {
	list-style: none;
	display: flex;
	margin: 0;
	justify-content: space-between;
	gap: 3rem;
}

.nav-list a {
	text-decoration: none;
	color: black;
}


@media (max-width: 768px) {
	.left-part {
		font-size: 1.5rem; 
		padding-left: 1rem;
	}

	.right-part {
		padding-right: 1rem; 
	}

	.nav-list {
		gap: 2rem;
	}
}
