table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

th{
    width: 100px;
    border:1px solid white;
    padding: 10px;
}

td{
   text-align: center;
   border:1px solid white;
   padding: 10px;
}

.manage-drivers-btn{
    padding: 5px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700;
    margin-right: 10px;
    width: 40%;
}

.reject-btn{
    background-color: red;
}

.accept-btn{
    background-color: #2e7d32;
}