.primary-bg {
  background-color: darkblue;
}

.secondary-bg {
  background-color: cornflowerblue;
}

.black-bg {
  background-color: black;
}

.white-bg {
  background-color: white;
}

.primary-text {
  color: darkblue;
}

.secondary-text {
  color: cornflowerblue;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}
