.section1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.sec1p {
  position: relative;
  padding: 5%;
  width: 50%;
}
.rigth {
    position: relative;
    padding: 5%;
    width: 50%;
  }
.left {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 30px;
}

.title {
  font-size: 2rem;
  max-width: 220px;
}
.sec1text {
  font-size: 1.3rem;
   line-height: 1.3;
}
.readmore {
  font-size: 1.5rem;
  margin-left: 40px;
  margin-top: 20px;
  border: 2px solid #000;
  padding: 10px;
}
.box {
  background-color: rgb(77, 77, 77);
  position: absolute;
  top: 10%;
  left: 10%;
  width: 350px;
  height: 350px;
  border-radius: 8px;
}
.car-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  /* Ensure the image covers the entire container */
}

.section2 {
  padding: 5%;
  width: 100%;
  height: 100vh;
}

.sec2cards {
  border: 2px solid #000;
  height: 100%;
  margin-top: 40px;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sec2-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec2-img-container{
    width: 200px;
    height: 200px;
}
 
.sec2-card-im{
    background-image: url("../../assets/images/dribble.png");
    background-size: contain;
    border-radius: 5%;
}
.sec2-card-img{
  min-height: 200px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.sec2-card-title {
  font-weight: bolder;
  font-size: 3rem;
  padding-bottom: 15px;
}
.sec2-card-text {
  font-size: 2rem;
}

.sec2-card-buttom {
  font-size: 1.5rem;
  margin-top: 10px;
  border: 2px solid #000;
  padding: 5px 10px;
}

.section3 {
  padding: 5%;
  width: 100%;
  height: 100vh;
}

.sec3cards {
  margin-top: 40px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sec3-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  text-align: center;
  width: 350px;
  height: 600px;
  border-radius: 16px;
  background-color: gray;
}
.img-container {
width: 100%;
height: 50%; 
 }

 .sec3-card-img{
    border-radius: 16px 16px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    border-radius: 50%;
 }
.sec3-card-img1{
  
    background-image: url("../../assets/images/news-img.jpg");
  }
  .sec3-card-img2{
   
    background-image: url("../../assets/images/taxi-sign.jpg");
  }
  .sec3-card-img3{
  
    background-image: url("../../assets/images/5cd6081e2500002f00a48d23.jpeg");
  }
.sec3-card-title{
     text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}
.sec3-card-text{
    margin-top: 10px;
    max-width: 280px;
    text-wrap: wrap;
    font-size: 1.1rem;
    text-align: center;
}


.section4{
    width: 100%;
    height: 100vh;
    padding: 5%;
}
.sec4-title{
    font-size: 3rem;
    font-weight: bolder;
}

.sec4-blocks{
    width: 100%;
    height: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #000;
 }

 .sec4-block{
    display: flex;
    flex-direction: row;
    min-height: 110px;
 }
.block-img{
    padding: 5px;
    width: 150px;
    height: 150px;
}
.b4i{
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10%;
}
.b1{
    background-image: url("../../assets/images/driver.png");
}
.b2{
    background-image: url("../../assets/images/shield.jpg");
}
.b3{
    background-image: url("../../assets/images/repair.jpg");
}
 .block-desciption{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
 }

 .block-title{
    font-size: 1.5rem;
    font-weight: bolder;
 }

 .block-text{
    font-size: 1.2rem;
    font-weight: bold;
 }

