/* Updated Register.css */

.car-side-image {
    width: 60%;
    max-width: 100%; /* Allow the image to shrink on smaller screens */
  }
  
  .register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1.5rem;
    background-color: #f0f0f0;
    padding: 1.5rem;
    box-sizing: border-box;
  }
  
  .register-form {
    width: 100%;
    max-width: 400px;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  .register-label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
  }
  
  .register-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 8px;
  }
  
  .register-button {
    width: 100%;
    padding: 10px;
    background-color: #f7c621;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 14px;
  }
  
  .register-button:hover {
    background-color: #ae8b18;
  }
  
  .error-message {
    color: red;
    margin-bottom: 8px;
    font-size: small;
  }
  
  @media (min-width: 769px) {
    .register-form {
      width: 50%;
      max-width: 100%; /* Allow the form to take full width on larger screens */
    }
  
    .register-container {
      flex-direction: row;
    }
  }
  